node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
.env
/backend/temp
/backend/ai/temp
/backend/ai/embeddings
/backend/.env
/backend/__pycache__
node_modules
dist
.env
__pycache__
*.pyc
venv
temp